In [1]:
import random as rd
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data =  {'year': [2018, 2015, 2020, 2012],
        'km': [50000, 80000, 20000, 120000],
        'engine_size': [1.6, 2.0, 1.8, 1.4],
        'brand': ['Toyota', 'Honda', 'Volkswagen', 'Ford'],
        'price': [120000, 90000, 150000, 60000]}

In [3]:
type(data)

dict

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   year      km  engine_size       brand   price
0  2018   50000          1.6      Toyota  120000
1  2015   80000          2.0       Honda   90000
2  2020   20000          1.8  Volkswagen  150000
3  2012  120000          1.4        Ford   60000

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label_encoder = LabelEncoder()
df["brand_encoded"] = label_encoder.fit_transform(df["brand"])

In [8]:
df

   year      km  engine_size       brand   price  brand_encoded
0  2018   50000          1.6      Toyota  120000              2
1  2015   80000          2.0       Honda   90000              1
2  2020   20000          1.8  Volkswagen  150000              3
3  2012  120000          1.4        Ford   60000              0

In [9]:
X_train = df[["year" , "km", "engine_size", "brand_encoded"]]

In [10]:
X_train

   year      km  engine_size  brand_encoded
0  2018   50000          1.6              2
1  2015   80000          2.0              1
2  2020   20000          1.8              3
3  2012  120000          1.4              0

In [11]:
y_train = df["price"]

In [12]:
y_train

0    120000
1     90000
2    150000
3     60000
Name: price, dtype: int64

In [13]:
type(y_train)

pandas.core.series.Series

In [14]:
type(X_train)

pandas.core.frame.DataFrame

In [15]:
X_train

   year      km  engine_size  brand_encoded
0  2018   50000          1.6              2
1  2015   80000          2.0              1
2  2020   20000          1.8              3
3  2012  120000          1.4              0

In [16]:
X_train.iloc[1,2]

2.0

In [17]:
y_train

0    120000
1     90000
2    150000
3     60000
Name: price, dtype: int64

In [20]:
w_init = pd.Series(rd.random() for _ in range(4))

In [23]:
w_init

0    0.502563
1    0.944471
2    0.146687
3    0.039060
dtype: float64

In [24]:
b_init = 0

In [25]:
w_init.shape

(4,)

In [26]:
X_train.iloc[1].shape

(4,)

In [27]:
y_train.shape

(4,)

In [28]:
### Tahmin Yapma

In [30]:
def predict(x, w, b):
    return np.dot(x,w) + b

In [32]:
def compute_cost(X_train, y_train, w, b):
    m = len(y_train)
    cost = 0

    for i in range(m):
        x_i = X_train.iloc[i]
        y_i = y_train.iloc[i]

        prediction = predict(x_i, w, b)
        error = prediction - y_i
        cost += error**2

    return cost / (2 * m)

In [41]:
def update_weights(X_train, y_train, w, b, learning_rate):
 
  m = len(y_train)  # training örneklerinin sayısı

  
  weight_gradients = []
  for i in range(m):
    x_i = X_train.iloc[i]
    y_i = y_train.iloc[i]
    prediction = predict(x_i, w, b)
    error = prediction - y_i
    weight_gradients.append(error * x_i)

  # ağırlığı eğim*learning rate i çıkararak updateli yoruz
  updated_w = w - learning_rate * np.mean(weight_gradients, axis=0)

  # biasın eğimini hesaplıyoruz
  bias_gradient = np.mean(prediction - y_train)

  # biası updateliyoruz
  updated_b = b - learning_rate * bias_gradient

  return updated_w, updated_b

In [45]:
learning_rate = 0.01

In [48]:
iterations = 1000
for i in range(iterations):
  # bias ve ağırlıkları updatele
  w, b = update_weights(X_train, y_train, w_init, b_init, learning_rate)

print("Final weights:", w)
print("Final bias:", b)

Final weights: 0    1.936292e+06
1    5.059283e+07
2    1.666848e+03
3    1.869640e+03
dtype: float64
Final bias: 890.094355444158